@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  transition: background-color 0.3s, color 0.3s;
}
html {
  scroll-behavior: smooth;
}
.custom-light-gradient {
  background: linear-gradient(to right, #f9f9f9, #e4dfdb, #d0b49f);
}
.bg-dark {
  background: linear-gradient(to right, #1c1c1c, #2e2e2e, #4b3621) !important;
}
.hero {
  background-image: url(images/herobg.jpg);
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat !important;
  height: 80vh;
}

.diagonal-cut {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
